img {
    width: 150px;
    height: 200px;
}

.div {
    font-size: 20px;
}

.name {
    color: red;
    position:absolute;
    right: 80px;
    top: 20px;
}

.home {
    position:absolute;
    right: 80px;
    top: 55px;
    font-style: italic;
}

.skills {
    background-color:#80acf2;
    color:white;
    width: auto;
}

.term {
    font-weight: bold;
}

.exp {
    background-color:#bef17f;
    color:white;
    width: auto;
}
